html,
body {
  min-height: 100%;
}

.IBMPlexMonoFont {
  font-family: 'IBM Plex Mono', monospace;
}

.unselectable {
  user-select: none;
}

.copyright {
  font-size: 12px;
  /* color: text-secondary; */
}

.logo-gray-bg {
  background-color: #e6eded;
}

/* nav/side bar */
.custom-navbar,
.offcanvas-header,
.offcanvas-footer {
  max-height: 62px;
}
.offcanvas-header {
  border-bottom: #c4c4c4 solid 1px;
}
.offcanvas-footer {
  border-top: #c4c4c4 solid 1px;
}
.offcanvas {
  border: #c4c4c4 1px solid;
}
.offcanvas {
  max-width: 300px;
}
.sidebar-toggle {
  transition: background-color 0.2s;
  height: 22px;
  width: 22px;
}
.list-group-item {
  transition: background-color 0.2s;
  font-size: 17px;
  font-weight: 500;
}
.logo-navbar {
  text-decoration: none;
}
.account-settings-button:hover,
.sidebar-toggle:hover,
.list-group-item:hover {
  background-color: #ffc107;
}
.account-settings-icon {
  height: 25px;
  width: 25px;
}
.account-settings-arrow-icon {
  height: 15px;
  width: 15px;
}
.log-out-button {
  color: #dc3545;
  transition: background-color color 0.2s;
}
.log-out-button:hover {
  background-color: #dc3545;
  color: white;
}
.log-out-icon {
  height: 25px;
  width: 25px;
}
/* cruds */
main {
  min-height: 90vh;
}
.page-identificator-icon {
  height: 42px;
  width: 42px;
}
.page-title-divider {
  height: 1px;
  background-color: #d9d9d9;
}
.return-to-home,
.card-table-arrow-icon {
  text-decoration: none;
  color: #595c5f;
  transition: color 0.1s;
}
.return-to-home:hover,
.card-table-arrow-icon:hover {
  text-decoration: none;
  color: black;
}
.page-card {
  text-decoration: none;
  transition: background-color 0.2s, margin 0.2s;
}
.page-card:hover {
  background-color: #ffc107;
  margin: 5px solid black;
}
.no-items-alert {
  border: 2px solid #d9d9d9;
}
.table-responsive {
  max-height: 70vh;
}
.table-responsive::-webkit-scrollbar {
  width: 0;
}
.no-items-icon {
  width: 30px;
  height: 30px;
}
.add-item-button {
  max-width: 190px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #198754;
  padding: 10px 45px;
  border: 1px solid #d9d9d9;
  border-radius: 10px 10px 0 0;
  transition: all 0.2s;
}
.add-item-button:hover {
  background-color: #198754;
  color: #f2f2f2;
  border: 1px solid #157046;
}
.add-item-icon {
  width: 23px;
  height: 23px;
}
.card-footer-background {
  background-color: rgba(255, 255, 255, 0);
}
.description-td-maxwidth {
  max-width: 466px;
}
.date-td-minwidth {
  min-width: 123px;
}
#most-often-lost-table-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.crud-form-container {
  max-width: 800px;
  padding: 2rem;
  border: #dee2e6 solid 2px;
  border-radius: 8px;
}
.alert-max-width {
  max-width: 800px;
}
.max-md-width {
  max-width: 500px;
}
.action-icon {
  height: 20px;
  width: 20px;
}
