html,
body {
  height: 100%;
}

.copyright {
  font-size: 12px;
  /* color: text-secondary; */
}

.logo-gray-bg {
  background-color: #e6eded;
}

/* nav/side bar */
.custom-navbar,
.offcanvas-header,
.offcanvas-footer {
  max-height: 62px;
}
.offcanvas-header {
  border-bottom: #c4c4c4 solid 1px;
}
.offcanvas-footer {
  border-top: #c4c4c4 solid 1px;
}
.offcanvas {
  border: #c4c4c4 1px solid;
}
.offcanvas {
  max-width: 300px;
}
.sidebar-toggle {
  transition: background-color 0.2s;
  height: 22px;
  width: 22px;
}
.list-group-item {
  transition: background-color 0.2s;
  font-size: 17px;
  font-weight: 500;
}
.logo-navbar {
  text-decoration: none;
}
.account-settings-button:hover,
.sidebar-toggle:hover,
.list-group-item:hover {
  background-color: #ffc107;
}
.account-settings-icon {
  height: 25px;
  width: 25px;
}
.account-settings-arrow-icon {
  height: 15px;
  width: 15px;
}
.log-out-button {
  color: #dc3545;
  transition: background-color color 0.2s;
}
.log-out-button:hover {
  background-color: #dc3545;
  color: white;
}
.log-out-icon {
  height: 25px;
  width: 25px;
}
/* cruds */
.page-identificator-icon {
  height: 37px;
  width: 37px;
}
.page-title-divider {
  height: 1px;
  background-color: #d9d9d9;
}
main {
  min-height: 90vh;
}
.return-to-home,
.card-table-arrow-icon {
  text-decoration: none;
  color: #595c5f;
  transition: color 0.1s;
}
.return-to-home:hover,
.card-table-arrow-icon:hover {
  text-decoration: none;
  color: black;
}
.page-card {
  text-decoration: none;
  transition: background-color 0.2s, margin 0.2s;
}
.page-card:hover {
  background-color: #ffc107;
  margin: 5px solid black;
}
.no-items-alert {
  border: 2px solid #d9d9d9;
}
.table-responsive {
  max-height: 70vh;
}
