html,
body {
  height: 100%;
}

.copyright {
  font-size: 12px;
  /* color: text-secondary; */
}

/* sign in/up form */
.form-container {
  max-width: 450px;
  padding: 2rem;
  border: #c8c8c8 solid 3px;
  border-radius: 8px;
  background-color: #e6eded;
}
.form-logo {
  max-width: 170px;
}
.form-page-bg {
  background: url(../../assets/bg.jpg) no-repeat center/cover;
}
.alert-icons {
  height: 20px;
  width: 20px;
}
